# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.DS_Store
Ferguson/abun.gs98.txt
Ferguson/g98.7.02.tron
Ferguson/g98.pl.7.02.tpon
Ferguson/opacity_table.pdf
OPCD_3.3/mono/
OPCD_3.3/opacity_table.pdf
OPCD_3.3/testin/chi.dat
OPCD_3.3/testin/in.accfit
OPCD_3.3/testin/in.accv
OPCD_3.3/testin/in.ax
OPCD_3.3/testin/in.mixv.ORIG
OPCD_3.3/testin/in.mixv~
OPCD_3.3/testin/in.mixz
OPCD_3.3/testin/in.mx
OPCD_3.3/testin/in.mxz
OPCD_3.3/testin/in.opfit
OPCD_3.3/testin/model.dat
Semenov/kP_h2001.dat
Semenov/kR_h2001.dat
Semenov/opacity.f
Semenov/opacity.pdf
Semenov/pla.data
Semenov/ros.data
hybrid/opacity_table.pdf
